<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.permissions.sysuserorg.mapper.SysUserOrgMapper" >
    <resultMap id="SysUserOrg" type="com.platform.permissions.sysuserorg.model.SysUserOrg">
		<id property="id" column="id" jdbcType="NUMERIC"/>
		<result property="orgid" column="orgid" jdbcType="NUMERIC"/>
		<result property="userid" column="userid" jdbcType="NUMERIC"/>
	</resultMap>
	<sql id="columns">
		id,orgid,userid
	</sql>
	<sql id="dynamicWhere">
		<where>
			<if test="@Ognl@isNotEmpty(id)"> AND id  =#{id} </if>
			<if test="@Ognl@isNotEmpty(orgid)"> AND orgid  =#{orgid} </if>
			<if test="@Ognl@isNotEmpty(userid)"> AND userid  =#{userid} </if>
			<if test="@Ognl@isNotEmpty(search)"> AND  
					(	
							instr(id,'${search}')>0    or 
							instr(orgid,'${search}')>0    or 
							instr(userid,'${search}')>0  
					)  
			</if>
		</where>
	</sql>
	<insert id="add" parameterType="com.platform.permissions.sysuserorg.model.SysUserOrg">
        insert into SYS_USER_ORG
		(<include refid="columns"/>)
		values
		(
			#{id,jdbcType=NUMERIC}, 
			#{orgid,jdbcType=NUMERIC}, 
			#{userid,jdbcType=NUMERIC}
		)
    </insert>
    <update id="update" parameterType="com.platform.permissions.sysuserorg.model.SysUserOrg">
		update SYS_USER_ORG set
		id=#{id,jdbcType=NUMERIC},
		orgid=#{orgid,jdbcType=NUMERIC},
		userid=#{userid,jdbcType=NUMERIC}
		WHERE
		ID=#{id}
	</update>
	<select id="getById" parameterType="Long" resultType="com.platform.permissions.sysuserorg.model.SysUserOrg">
        select <include refid="columns"/> from SYS_USER_ORG where ID=#{id}
    </select>
     <delete id="delById" parameterType="Long" >
        delete from  SYS_USER_ORG where ID=#{id}
    </delete>
    <select id="queryTotal"  resultType="Integer">
        select count(*) from SYS_USER_ORG 
        <include refid="dynamicWhere" /> 
    </select>
    <select id="queryAll"  resultMap="SysUserOrg">
        select <include refid="columns"/> from SYS_USER_ORG 
        <include refid="dynamicWhere" /> 
        <if test="@Ognl@isNotEmpty(sort)">
			order by ${sort} ${order}
		</if>
		<if test="@Ognl@isEmpty(sort)">
			order by id  desc
		</if>
    </select>
</mapper>
